&configuration

! ===========================================
! Ocean Emissivity Model Configuration File
! ===========================================

! water refractive index and its relative coefficients
refractive_index_filename = 'data/water_optical_constants.nc'

! use or not use the effective angle
use_effective_angle = .true.

! ===========================================
! User Input Parameters  
! ===========================================

! Option2: Wavelength (um) range and number of points
wavelen_min   = 8.0,
wavelen_max   = 12.0,
n_wavelen     = 100,           

! Sea surface temperature (K)
sea_surface_temperature   = 271.0, 
! Sea surface salinity (PSU)
sea_surface_salinity      = 34.5,       

! Option2: Viewing angles (degrees) range and number of points
view_angle_start = 35.0,
view_angle_end = 50.0,
n_view_angle = 4,

! Option2: Wind speeds (m/s) range and number of points
wind_start = 0.0,
wind_end = 12.0,
n_wind   = 4,

! flag: spectral or narrow-band ocean emissivity
mode = 'spectral',

! flag: polarization enable or disable
polarization = 'enable',

/
