&configuration

! ===========================================
! Ocean Emissivity Model Configuration File
! ===========================================

! water refractive index and its relative coefficients
refractive_index_filename = 'data/water_optical_constants_HQ.nc'

! use or not use the effective angle
use_effective_angle = .true.

! ===========================================
! User Input Parameters  
! ===========================================

! Wavenumber (cm-1) range and number of points
wavenum_start = 600,           
wavenum_end   = 3000,       
n_wavenum     = 2401,           

! Sea surface temperature (K)
sea_surface_temperature   = 271.0, 
! Sea surface salinity (PSU)
sea_surface_salinity      = 34.5,       

! Option2: Viewing angles (degrees) range and number of points
view_angle_start = 0.0,
view_angle_end = 75.0,
n_view_angle = 76,

! Option1: Wind speeds (m/s);   
wind = 5.0,

! flag: spectral or narrow-band ocean emissivity
mode = 'spectral',


/
