&configuration

! ===========================================
! Ocean Emissivity Model Configuration File
! ===========================================

! water refractive index and its relative coefficients
refractive_index_filename = 'data/water_optical_constants.nc'

! use or not use the effective angle
use_effective_angle = .true.

! ===========================================
! User Input Parameters  
! ===========================================

! Wavenumber (cm-1) range and number of points
wavenum_start = 10, 50, 200, 350, 500, 630, 700, 820, 980, 1080, 1180, 1390, 1480, 1800, 2000, 2600,           
wavenum_end   = 50, 200, 350, 500, 630, 700, 820, 980, 1080, 1180, 1390, 1480, 1800, 2000, 2600, 3250,       
n_wavenum     = 50, 150, 150, 150, 130, 70, 80, 160, 100, 100, 210, 90, 320, 200, 600, 625,           

! Sea surface temperature (K)
sea_surface_temperature   = 297.0, 
! Sea surface salinity (PSU)
sea_surface_salinity      = 35.0,              

! Option1: Viewing angles (degrees); Given by multi-line
view_angle = 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0, 60.0, 65.0, 70.0, 75.0,

! Option1: Wind speeds (m/s); Given by multi-line
wind = 0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0,

! flag: spectral or narrow-band ocean emissivity
mode = 'narrow-band',


/
