&configuration

! ===========================================
! Ocean Emissivity Model Configuration File
! ===========================================

! water refractive index and its relative coefficients
refractive_index_filename = 'data/water_optical_constants.nc'

! use or not use the effective angle
use_effective_angle = .true.

! ===========================================
! User Input Parameters  
! ===========================================

! Wavenumber (cm-1) range and number of points
wavenum_start = 10, 350, 500, 630, 700, 820, 980, 1080, 1180, 1390, 1480, 1800, 2080, 2250, 2380, 2600,           
wavenum_end   = 350, 500, 630, 700, 820, 980, 1080, 1180, 1390, 1480, 1800, 2080, 2250, 2380, 2600, 3250,      
n_wavenum     = 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200,             

! Sea surface temperature (K)
sea_surface_temperature   = 298.15, 
! Sea surface salinity (PSU)
sea_surface_salinity      = 34.5,              

! Option1: Viewing angles (degrees); Given by multi-line
view_angle = 53.0,

! Option2: Wind speeds (m/s) range and number of points
wind_start = 0.0,
wind_end =18.0,
n_wind   = 21,

! flag: spectral or narrow-band ocean emissivity
mode = 'narrow-band',



/
